/*Abdulmohsin Mustafa Ageel
2036815
CS1
September 2024*/
introduction {
    position: absolute;
    top: 95px;
    left: 30px;
    z-index: 2;
    width: 60%;
    height: 70%;
    background-color: #ffffff;
    border-radius: 2%;
    padding: 3px;
}

topic {
    float: left;
}

topic a {
    display: block;
    width: 424px;
    height: 226px;
    z-index: 3;
    padding: 10px;
    margin: 5px;
    margin-left: 5px;
    border: 1px solid #000000;
    color: black;
    background-color: #acf5ff;
    border-radius: 2%;
    box-shadow: 4px 7px 12px 1px #717171;
}

h3 {
    text-align: center;
}

imageList {
    position: absolute;
    top: 125px;
    right: 30px;
    z-index: 2;
    width: 30%;
    height: 62%;
    background-color: #ffffff;
    border-radius: 2%;
    padding: 3px;
}

image {
    float: left;

}

image a {
    display: block;
    width: 424px;
    height: 226px;
    z-index: 3;
    padding: 10px;
    margin: 5px;
    border: 1px solid #000000;
    color: black;
    background-color: #e5e5e5;
    border-radius: 2%;
}

a img {
    margin-left: 2px;
    width: 220px;
    height: auto;
    border-radius: 3%;
}